body {
  font: 1em helvetica, arial, sans-serif;
  background-color: #fff;
  color: #222;
}

.story {
  padding: 0 1em;
  margin: 1em 0;
}

.progress {
  background-color: limegreen;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 1em;
  overflow: hidden;
}

.dot {
  height: 3px;
  width: 3px;
  position: fixed;
  background-color: red;
}